{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}

      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <h1 class="page-title">Category Page</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Category Page</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->
      
      <div class="page-content-wrap">

        <div class="container">
          
          <div class="product-sort-section flex-row flex-justify flex-center">

            <span>Showing 1–12 of 36 results</span>

            <div class="custom-select">
              <div class="select-title">Default sorting</div>
              <ul id="menu-type" class="select-list"></ul>
              <select class="hide">
                <option value="menu">Sort 1</option>
                <option value="menu">Sort 2</option>
                <option value="menu">Sort 3</option>
              </select>
            </div>
            
          </div>

          <div class="products-holder">
            
            {% for product in product_categories %}
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                      
                <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                <div class="product-image">
                  <a href="#"><img src="{{ product.product_image.url }}" alt=""></a>
                  <div class="overlay">
                    <div class="overlay-inner">
                      <a href="#" class="btn btn-style-6 btn-small">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                <div class="product-description">

                  <h5 class="product-name"><a href="#">{{ product.product_name }}</a></h5>

                  <div class="product-price new-price">{{ product.product_price }}</div>

                </div>
                <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

              </div>

            </div>
            {% endfor %}
          </div>

          <ul class="pagination">
            <li><a href="#" class="prev-page"></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#" class="next-page"></a></li>
          </ul>

        </div>

      </div>

{% endblock %}