{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}

      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <h1 class="page-title">Category Page</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Category Page</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->
      
      <div class="page-content-wrap">

        <div class="container">
          
          <div class="product-sort-section flex-row flex-justify flex-center">

            <span>Showing 1–12 of 36 results</span>

            <div class="custom-select">
              <div class="select-title">Default sorting</div>
              <ul id="menu-type" class="select-list"></ul>
              <select class="hide">
                <option value="menu">Sort 1</option>
                <option value="menu">Sort 2</option>
                <option value="menu">Sort 3</option>
              </select>
            </div>
            
          </div>

          <div class="products-holder">
            
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                <div class="product-image">
                  <a href="#"><img src="{% static 'images/263x263_img1.jpg' %}" alt=""></a>
                  <div class="overlay">
                    <div class="overlay-inner">
                      <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                <div class="product-description">

                  <h5 class="product-name"><a href="#">Cotton Tote Bag White</a></h5>

                  <div class="wrapper">
                    
                    <div class="product-price new-price f-left">$35.00</div>
                    <ul class="rating f-right">
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                    </ul>

                  </div>

                </div>
                <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

              </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img2.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Men’s T-shirt White</a></h5>

                    <div class="wrapper">
                    
                      <div class="product-price new-price f-left">$25.00</div>
                      <ul class="rating f-right">
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-empty-3"></i></li>
                      </ul>

                    </div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img3.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Morning Mug White</a></h5>

                    <div class="product-price new-price">$30.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img4.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Baseball Cap Gray</a></h5>

                    <div class="product-price new-price">$15.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                <div class="product-image">
                  <a href="#"><img src="{% static 'images/263x263_img5.jpg' %}" alt=""></a>
                  <div class="overlay">
                    <div class="overlay-inner">
                      <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                <div class="product-description">

                  <h5 class="product-name"><a href="#">Cotton Tote Bag Orange</a></h5>

                  <div class="wrapper">
                    
                    <div class="product-price new-price f-left">$35.00</div>

                  </div>

                </div>
                <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

              </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img6.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Men’s T-shirt Yellow</a></h5>

                    <div class="wrapper">
                    
                      <div class="product-price new-price f-left">$25.00</div>
                      <ul class="rating f-right">
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-empty-3"></i></li>
                        <li><i class="icon icon-star-empty-3"></i></li>
                      </ul>

                    </div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img7.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Men’s T-shirt Blue</a></h5>

                    <div class="product-price new-price">$25.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img8.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Keychain White</a></h5>

                    <div class="wrapper">
                      <div class="product-price new-price f-left">$5.00</div>
                      <ul class="rating f-right">
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                      </ul>
                    </div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                <div class="product-image">
                  <a href="#"><img src="{% static 'images/263x263_img9.jpg' %}" alt=""></a>
                  <div class="overlay">
                    <div class="overlay-inner">
                      <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                <div class="product-description">

                  <h5 class="product-name"><a href="#">Baseball Cap Pink</a></h5>

                  <div class="wrapper">
                    
                    <div class="product-price new-price f-left">$15.00</div>
                    <ul class="rating f-right">
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                    </ul>

                  </div>

                </div>
                <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

              </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img10.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Keychain Blue</a></h5>

                    <div class="wrapper">
                    
                      <div class="product-price new-price f-left">$5.00</div>

                    </div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img11.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Baseball Cap Yellow</a></h5>

                    <div class="product-price new-price">$15.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img12.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Cotton Tote Bag Blue</a></h5>

                    <div class="product-price new-price">$35.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                <div class="product-image">
                  <a href="#"><img src="{% static 'images/263x263_img13.jpg' %}" alt=""></a>
                  <div class="overlay">
                    <div class="overlay-inner">
                      <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                <div class="product-description">

                  <h5 class="product-name"><a href="#">Cotton Tote Bag Yellow</a></h5>

                  <div class="wrapper">
                    
                    <div class="product-price new-price f-left">$35.00</div>
                    <ul class="rating f-right">
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-8"></i></li>
                      <li><i class="icon icon-star-empty-3"></i></li>
                    </ul>

                  </div>

                </div>
                <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

              </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img14.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Men’s T-shirt Orange</a></h5>

                    <div class="wrapper">
                    
                      <div class="product-price new-price f-left">$25.00</div>

                    </div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img15.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Keychain Yellow</a></h5>

                    <div class="product-price new-price">$5.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>
            <div class="col-md-3 col-xs-6">
              
              <div class="product">
                        
                  <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                  <div class="product-image">
                    <a href="#"><img src="{% static 'images/263x263_img16.jpg' %}" alt=""></a>
                    <div class="overlay">
                      <div class="overlay-inner">
                        <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                      </div>
                    </div>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                  <div class="product-description">

                    <h5 class="product-name"><a href="#">Baseball Cap Blue</a></h5>

                    <div class="product-price new-price">$15.00</div>

                  </div>
                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

            </div>

          </div>

          <ul class="pagination">
            <li><a href="#" class="prev-page"></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#" class="next-page"></a></li>
          </ul>

        </div>

      </div>

{% endblock %}