{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}

      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <h1 class="page-title">Checkout Page</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Checkout</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->
      
      <div class="page-content-wrap">

        <div class="container">
          <form method="post" action="{% url 'checkout_order' %}">
            {% csrf_token %}
          <div class="content-element7">
            
            <div class="row">
              <div class="col-md-6 col-sm-12">
                
                <h5>Billing Details</h5>
                  <div class="join-us style-4">
                    <!-- <form class="join-form"> -->
                              
                      <div class="row">
                        <div class="col-sm-6">
                          
                          <label class="required">First Name</label>
                          <input type="text" name="first_name">
                    
                        </div>
                        <div class="col-sm-6">
                          
                          <label class="required">Last Name</label>
                          <input type="text" name="last_name">
                    
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          
                          <label>Company Name</label>
                          <input type="text" name="company_name">
                    
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          
                          <label class="required">Adress</label>
                          <input type="text" placeholder="Street address" name="address">
                          <input type="text" placeholder="Apartment, suit, unit etc. (optional)">
                    
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          
                          <label class="required">Town / City</label>
                          <input type="text" name="town_city">
                    
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          
                          <label class="required">Phone</label>
                          <input type="text" name="phone">
                    
                        </div>
                        <div class="col-sm-6">
                          
                          <label class="required">Email address</label>
                          <input type="text" name="email">
                    
                        </div>
                      </div>
                    
                    <!-- </form> -->
                  </div>

              </div>
              <div class="col-md-6 col-sm-12">
                <!-- <form> -->
                          
                  <label>Order Notes</label>
                  <textarea rows="5" placeholder="Notes about your order, e.g. special notes for delivery." name="order_notes"></textarea>

                <!-- </form> -->

              </div>
            </div>

          </div>

          <!-- <div class="content-element3"> -->
            
            <h5>Your Order</h5>
            <div class="content-element4">
              
              <div class="shop-cart-form order-type table-type-1">
                <table>
                  <thead>
                      <tr>
                          <th class="product-col">Product</th>
                          <th class="product-col">Delivery</th>
                          <th class="product-col">Quantity</th>
                          <th class="product-col">Unit Cost</th>
                      </tr>
                  </thead>
                  <tr>
                      <td data-title="Product">
                          <div class="product">
                              <div class="product-description">
                                  <h6 class="product-name"><a href="#">{{ product_details.product_name }}</a></h6>
                                  <span class="product-size">Size: {{ size }}</span>
                                  <input type="hidden" name="product_name" value="{{ product_details.product_name }}">
                                  <input type="hidden" name="size" value="{{ size }}">
                              </div>
                          </div>
                      </td>
                      <td class="price">FREE</td>
                      <input type="hidden" name="delivery_cost" value="FREE">
                      <td class="price">{{ quantity }}</td>
                      <input type="hidden" name="quantity" value="{{ quantity }}">
                      <td class="price">UGX {{ product_details.product_price }}</td>
                      <input type="hidden" name="unit_cost" value="{{ product_details.product_price }}">
                    </tr>
                    <tr class="total-cell2">
                      <td class="order-total">Order Total:</td>
                      <td class="price">UGX {{ total }}</td>
                      <input type="hidden" name="total_cost" value="{{ total }}">                     
                    </tr>
              </table>              
              </div>

            </div>

            <div class="content-element7">

            </div>

            <button type="submit" class="btn btn-style-6 btn-big">Place Order</button>

          <!-- </div> -->
        </form>

        </div>

      </div>

{% endblock %}