{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}

      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <h1 class="page-title">Cart</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Checkout</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->
      
      <div class="page-content-wrap">

        <div class="container">
        
          <div class="content-element4">
            
            <div class="hidden-section">

              <div class="account-action">Returning customer? <a class="invoker" href="#">Click here to login.</a></div>

              <div class="content">

                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>

                <!-- - - - - - - - - - - - - - Login Form - - - - - - - - - - - - - - - - -->

                <form class="contact-form type-2">

                  <div class="row content-element3">
                    <div class="col-sm-6">
                      
                      <label class="required">Username or email</label>
                      <input type="text">
                      
                    </div>
                    <div class="col-sm-6">
                      
                      <label class="required">Password</label>
                      <input type="text">
                      <a href="#" class="link-text2">Lost your password?</a>
                      <footer class="login-form-footer input-wrapper style-2">

                        <input type="checkbox" id="login-remember-me" class="type-2" name="login_remember_me">
                        <label for="login-remember-me">Remember me</label>

                      </footer>

                    </div>
                  </div>
                  <div class="form-column-full">
                    <a href="#" class="btn">Login</a>
                  </div>

                </form>

                <!-- - - - - - - - - - - - - - End of Login Form - - - - - - - - - - - - - - - - -->

              </div><!--/ .content -->

            </div><!--/ .hidden-section -->

            <div class="hidden-section">

              <div class="account-action">Have a coupon? <a class="invoker" href="#">Click here to enter your code.</a></div>

              <div class="content">

                <div class="row">
                  <div class="col-sm-6">

                    <!-- - - - - - - - - - - - - - Coupon Form - - - - - - - - - - - - - - - - -->

                    <div class="join-us style-3">
                      <form class="join-form">
                        <button type="submit" class="btn btn-style-4 btn-big f-right">Apply Coupon</button>
                        <div class="input-holder">
                          <input type="text" placeholder="Enter coupon code">
                        </div>
                      </form>
                    </div>

                    <!-- - - - - - - - - - - - - - End of Coupon Form - - - - - - - - - - - - - - - - -->

                  </div>
                </div>

              </div><!--/ .content -->

            </div><!--/ .hidden-section -->

          </div>

          <div class="content-element7">
            
            <div class="row">
              <div class="col-md-6 col-sm-12">
                
                <h5>Billing Details</h5>
                  <div class="join-us style-4">
                    <form class="join-form">
                              
                      <div class="row">
                        <div class="col-sm-6">
                          
                          <label class="required">First Name</label>
                          <input type="text">
                    
                        </div>
                        <div class="col-sm-6">
                          
                          <label class="required">Last Name</label>
                          <input type="text">
                    
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          
                          <label>Company Name</label>
                          <input type="text">
                    
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          
                          <label class="required">Adress</label>
                          <input type="text" placeholder="Street address">
                          <input type="text" placeholder="Apartment, suit, unit etc. (optional)">
                    
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          
                          <label class="required">Town / City</label>
                          <input type="text">
                    
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-4">
                          
                          <label class="required">Postcode/ZIP</label>
                          <input type="text">
                    
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          
                          <label class="required">Phone</label>
                          <input type="text">
                    
                        </div>
                        <div class="col-sm-6">
                          
                          <label class="required">Email address</label>
                          <input type="text">
                    
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">

                          <div class="input-wrapper style-2">
                            <input type="checkbox" id="checkbox" class="type-2" name="checkbox">
                            <label for="checkbox">Create an account</label>
                          </div>

                        </div>
                      </div>
                    
                    </form>
                  </div>

              </div>
              <div class="col-md-6 col-sm-12">
                
                <div class="checkbox-title input-wrapper style-2">

                  <input type="checkbox" id="bd-diff-address" class="type-2" name="bd-diff-address">
                  <label for="bd-diff-address">Ship to a Different Address?</label>

                </div>
                <form>
                          
                  <label>Order Notes</label>
                  <textarea rows="5" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>

                </form>

              </div>
            </div>

          </div>

          <div class="content-element3">
            
            <h5>Your Order</h5>
            <div class="content-element4">
              
              <div class="shop-cart-form order-type table-type-1">
                <table>
                  <thead>
                    <tr>
                      <th class="product-col">Product</th>
                      <th class="total-col">Total</th>
                    </tr>
                  </thead>
                  <tr>
                    <td data-title="Product">

                      <div class="product">

                        <div class="product-description">

                          <h6 class="product-name"><a href="#">Men’s T-shirt White</a></h6>

                          <span class="product-size">Size: L</span>

                        </div><!--/ .product-info -->

                      </div>

                    </td>
           
                    <td class="price">$100</td>
                  </tr>
                  <tr>
                    <td data-title="Product">

                      <div class="product">

                        <div class="product-description">

                          <h6 class="product-name"><a href="#">Cotton Tote Bag White</a></h6>

                        </div><!--/ .product-info -->

                      </div>

                    </td>
                    <td class="price">$35</td>
                  </tr>
                  <tr>
                    <td class="order-total">
                      <div>Cart subtotal:</div>
                    </td>
                    <td class="price"><b>$135</b></td>
                  </tr>
                  <tr>
                    <td class="order-total">
                      <div>Shipping:</div>
                    </td>
                    <td>
                      <div class="input-wrapper">

                        <input type="radio" checked="" name="radio-1" id="radio-1">
                        <label for="radio-1">Free shipping</label>

                      </div>
                      <div class="input-wrapper">

                        <input type="radio" name="radio-1" id="radio-2">
                        <label for="radio-2">Flat shipping</label>

                      </div>
                    </td>
                  </tr>
                  <tr class="total-cell2">
                    <td class="order-total">
                      Order Total:
                    </td>
                    <td class="price">$135</td>
                  </tr>
                </table>
              </div>

            </div>

            <div class="content-element7">
              
              <ul class="custom-list payment-option">

                <li>

                  <div class="input-wrapper style-2">
                    
                    <input type="radio" checked="" name="pm_payment_method" id="pm-cheque-payment" value="pm_cheque_payment">
                    <label for="pm-cheque-payment">Cheque Payment</label>

                  </div><!--/ .input-wrapper -->

                  <div class="payment-desc">
                    <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / Country, Store Postcode.</p>
                  </div>

                </li>

                <li>

                  <div class="input-wrapper style-2">
                    
                      <input type="radio" name="pm_payment_method" id="pm-paypal" value="pm_paypal">
                      <label for="pm-paypal">PayPal</label>
                      <a href="#">What is PayPal?</a>

                    </div><!--/ .input-wrapper -->

                    <div class="payment-desc">

                      <img src="{% static 'images/paypal.png' %}" alt="">

                    </div>

                </li>

                <li>
                  
                  <div class="input-wrapper style-2">
                    <input type="checkbox" id="checkbox2" class="type-2" name="checkbox2">
                    <label for="checkbox2">I’ve read and accept the <a href="#" class="link-text2 required">Terms & Conditions</a></label>
                  </div>

                </li>

              </ul>

            </div>

            <a href="{% url 'myAccount' %}" class="btn btn-style-6 btn-big">Place Order</a>

          </div>

        </div>

      </div>

{% endblock %}