{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}

      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <h1 class="page-title">Events by Month</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Events by Month</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->

      <div class="page-content-wrap">
        
        <div class="container">
          <div class="tribe-events-bar">
            <div class="row">
              <div class="col-md-10">
                <div class="join-us style-4">
                  <form class="join-form" method="post" action="{% url 'filter_events' %}">
                    {% csrf_token %}
                    <div class="input-holder input-cols">
                      <div class="input-col">
                        <label>Date</label>
                        <input type="month" name="selected_month" value="{{ current_month }}">
                      </div>                    
                      <div class="input-col">
                        <button type="submit" class="btn btn-style-3 btn-big">Find Events</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="content-element">
            <div class="content-element4">
              <h3>Events for {{ selected_month|date:"F Y" }}</h3>
            </div>
            <div class="responsive-table content-element4">
              <table class="tribe-events-calendar">
                <thead>
                  <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                  </tr>
                </thead>
                <tr>
                  {% for day in days %}
                    <td data-title="{{ day.day|date:'l' }}">
                      <div class="tribe-events-daynum">
                        <a href="#">{{ day.day.day }}</a>
                      </div>
                      {% for event in day.events %}
                        <div class="tribe-events-category-tech-events">
                          <a href="#">{{ event.title }}</a>
                          <h6 href="#"><b>{{ event.location }}</b></h6>
                          <div class="tribe-events-tooltip">
                            <header>
                              <h6>{{ event.title }}</h6>
                              <!-- <h8>{{ event.location }}</h8> -->
                              <time datetime="{{ event.date|date:'Y-m-d' }}">{{ event.date|date:"F d" }}, {{ event.location }}</time>
                            </header>
                            <div class="clearfix">
                              <img src="{{ event.image.url }}" alt="" class="alignleft">
                              <p>{{ event.description }}</p>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </td>
                    {% if forloop.counter|divisibleby:7 %}
                      </tr><tr>
                    {% endif %}
                  {% endfor %}
                </tr>
              </table>
            </div>
          </div>
        </div>       
        

      </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
{% endblock %}