{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}

      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <h1 class="page-title">Events by Month</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Events by Month</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->

      <div class="page-content-wrap">
        
        <div class="container">
          
          <div class="tribe-events-bar">
            
            <div class="row">
              <div class="col-md-10">
                
                <div class="join-us style-4">
                    
                  <form class="join-form" method="post" action="{% url 'filter_events' %}">
                    {% csrf_token %}
                    <div class="input-holder input-cols">
                        <div class="input-col">
                            <label>Date</label>
                            <input type="month" name="selected_month">
                        </div>
                        <div class="input-col">
                            <button type="submit" class="btn btn-style-3 btn-big">Find Events</button>
                        </div>
                      </div>
                  </form>
        
                </div>
        
              </div>
            </div>
        
          </div>
                 
          <div class="content-element">
            
            <div class="content-element4">
        
              <h3>Events for July 2018</h3>
        
            </div>
        
            <div class="responsive-table content-element4">
              <table class="tribe-events-calendar">
                <thead>
                  <tr>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                  </tr>
                </thead>
                <tr>
                  <td data-title="Sunday">
                    <div class="tribe-events-daynum">
                      <a href="#">1</a>
                    </div>
                  </td>
                  {% for event in events %}
                  <td data-title="Monday">
                    <div class="tribe-events-daynum">
                      <a href="#">2</a>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">{{ event.title }}</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>{{ event.tilte }}</h6>
                          <time datetime="2018-07-27">{{ event.date}}</time>
                        </header>
                        <div class="clearfix">
                          <img src="{{ event.image.url }}" alt="" class="alignleft">
                          <p>{{ event.description }}</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  {% endfor %}
                  <td data-title="Tuesday">
                    <div class="tribe-events-daynum">
                      <a href="#">3</a>
                    </div>
                  </td>
                  <td data-title="Wednesday">
                    <div class="tribe-events-daynum">
                      <a href="#">4</a>
                    </div>
                  </td>
                  <td data-title="Thursday">
                    <div class="tribe-events-daynum">
                      <a href="#">5</a>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">Dinner with Linda Russell</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>Dinner with Linda Russell</h6>
                          <time datetime="2018-07-27">July 27 @ 6:30 PM - 8:00 PM</time>
                        </header>
                        <div class="clearfix">
                          <img src="{% static 'images/200x145_img1.jpg' %}" alt="" class="alignleft">
                          <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna [...]</p>
                        </div>
                      </div>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">Central Texas Regional Training</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>Dinner with Linda Russell</h6>
                          <time datetime="2018-07-27">July 27 @ 6:30 PM - 8:00 PM</time>
                        </header>
                        <div class="clearfix">
                          <img src="{% static 'images/200x145_img1.jpg' %}" alt="" class="alignleft">
                          <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna [...]</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-title="Friday">
                    <div class="tribe-events-daynum">
                      <a href="#">6</a>
                    </div>
                  </td>
                  <td data-title="Saturday">
                    <div class="tribe-events-daynum">
                      <a href="#">7</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td data-title="Sunday">
                    <div class="tribe-events-daynum">
                      <a href="#">8</a>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">Meet our Democratic State Chair</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>Dinner with Linda Russell</h6>
                          <time datetime="2018-07-27">July 27 @ 6:30 PM - 8:00 PM</time>
                        </header>
                        <div class="clearfix">
                          <img src="{% static 'images/200x145_img1.jpg' %}" alt="" class="alignleft">
                          <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna [...]</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-title="Monday">
                    <div class="tribe-events-daynum">
                      <a href="#">9</a>
                    </div>
                  </td>
                  <td data-title="Tuesday">
                    <div class="tribe-events-daynum">
                      <a href="#">10</a>
                    </div>
                  </td>
                  <td data-title="Wednesday">
                    <div class="tribe-events-daynum">
                      <a href="#">11</a>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">Meet Adam Russell</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>Dinner with Linda Russell</h6>
                          <time datetime="2018-07-27">July 27 @ 6:30 PM - 8:00 PM</time>
                        </header>
                        <div class="clearfix">
                          <img src="{% static 'images/200x145_img1.jpg' %}" alt="" class="alignleft">
                          <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna [...]</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-title="Thursday">
                    <div class="tribe-events-daynum">
                      <a href="#">12</a>
                    </div>
                  </td>
                  <td data-title="Friday">
                    <div class="tribe-events-daynum">
                      <a href="#">13</a>
                    </div>
                  </td>
                  <td data-title="Saturday">
                    <div class="tribe-events-daynum">
                      <a href="#">14</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td data-title="Sunday">
                    <div class="tribe-events-daynum">
                      <a href="#">15</a>
                    </div>
                  </td>
                  <td data-title="Monday">
                    <div class="tribe-events-daynum">
                      <a href="#">16</a>
                    </div>
                  </td>
                  <td data-title="Tuesday">
                    <div class="tribe-events-daynum">
                      <a href="#">17</a>
                    </div>
                  </td>
                  <td data-title="Wednesday">
                    <div class="tribe-events-daynum">
                      <a href="#">18</a>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">Meet Adam Russell</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>Dinner with Linda Russell</h6>
                          <time datetime="2018-07-27">July 27 @ 6:30 PM - 8:00 PM</time>
                        </header>
                        <div class="clearfix">
                          <img src="{% static 'images/200x145_img1.jpg' %}" alt="" class="alignleft">
                          <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna [...]</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-title="Thursday">
                    <div class="tribe-events-daynum">
                      <a href="#">19</a>
                    </div>
                  </td>
                  <td data-title="Friday">
                    <div class="tribe-events-daynum">
                      <a href="#">20</a>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">Deputy Voter Registrar Training</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>Dinner with Linda Russell</h6>
                          <time datetime="2018-07-27">July 27 @ 6:30 PM - 8:00 PM</time>
                        </header>
                        <div class="clearfix">
                          <img src="{% static 'images/200x145_img1.jpg' %}" alt="" class="alignleft">
                          <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna [...]</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-title="Saturday">
                    <div class="tribe-events-daynum">
                      <a href="#">21</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td data-title="Sunday">
                    <div class="tribe-events-daynum">
                      <a href="#">22</a>
                    </div>
                  </td>
                  <td data-title="Monday">
                    <div class="tribe-events-daynum">
                      <a href="#">23</a>
                    </div>
                  </td>
                  <td data-title="Tuesday">
                    <div class="tribe-events-daynum">
                      <a href="#">24</a>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">Dinner with Adam Russell</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>Dinner with Adam Russell</h6>
                          <time datetime="2018-07-27">July 27 @ 6:30 PM - 8:00 PM</time>
                        </header>
                        <div class="clearfix">
                          <img src="{% static 'images/200x145_img1.jpg' %}" alt="" class="alignleft">
                          <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna [...]</p>
                        </div>
                      </div>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">Central Texas Regional Training</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>Dinner with Linda Russell</h6>
                          <time datetime="2018-07-27">July 27 @ 6:30 PM - 8:00 PM</time>
                        </header>
                        <div class="clearfix">
                          <img src="{% static 'images/200x145_img1.jpg' %}" alt="" class="alignleft">
                          <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna [...]</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-title="Wednesday">
                    <div class="tribe-events-daynum">
                      <a href="#">25</a>
                    </div>
                  </td>
                  <td data-title="Thursday">
                    <div class="tribe-events-daynum">
                      <a href="#">26</a>
                    </div>
                  </td>
                  <td data-title="Friday">
                    <div class="tribe-events-daynum">
                      <a href="#">27</a>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">Deputy Voter Registrar Training</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>Dinner with Linda Russell</h6>
                          <time datetime="2018-07-27">July 27 @ 6:30 PM - 8:00 PM</time>
                        </header>
                        <div class="clearfix">
                          <img src="{% static 'images/200x145_img1.jpg' %}" alt="" class="alignleft">
                          <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna [...]</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-title="Saturday">
                    <div class="tribe-events-daynum">
                      <a href="#">28</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td data-title="Sunday">
                    <div class="tribe-events-daynum">
                      <a href="#">29</a>
                    </div>
                  </td>
                  <td data-title="Monday">
                    <div class="tribe-events-daynum">
                      <a href="#">30</a>
                    </div>
                    <div class="tribe-events-category-tech-events">
                      <a href="#">Meet Linda Russell</a>
                      <div class="tribe-events-tooltip">
                        <header>
                          <h6>Dinner with Linda Russell</h6>
                          <time datetime="2018-07-27">July 27 @ 6:30 PM - 8:00 PM</time>
                        </header>
                        <div class="clearfix">
                          <img src="{% static 'images/200x145_img1.jpg' %}" alt="" class="alignleft">
                          <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna [...]</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td data-title="Tuesday">
                    <div class="tribe-events-daynum">
                      <a href="#">31</a>
                    </div>
                  </td>
                  <td data-title="Wednesday">
                    <div class="tribe-events-daynum next-month">
                      <a href="#">1</a>
                    </div>
                  </td>
                  <td data-title="Thursday">
                    <div class="tribe-events-daynum next-month">
                      <a href="#">2</a>
                    </div>
                  </td>
                  <td data-title="Friday">
                    <div class="tribe-events-daynum next-month">
                      <a href="#">3</a>
                    </div>
                  </td>
                  <td data-title="Saturday">
                    <div class="tribe-events-daynum next-month">
                      <a href="#">4</a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        
        </div>

      </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
{% endblock %}