{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}
      
      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg align-center">

        <div class="container">
          
          <h1 class="page-title">Get Involved</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Get Involved</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->

      <div class="page-content-wrap">
        
        <div class="container extra-size">

          <div class="row">
            <main id="main" class="col-md-8 col-sm-12">
              
              <div class="content-element3">
                
                <h3>Join Our Campaign</h3>
                <p>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. Fields marked with an * are required.</p>

              </div>
              <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="row flex-row">
                    <div class="col-sm-6">
                        <label class="required">First name</label>
                        <input type="text" name="first_name">
                    </div>
                    <div class="col-sm-6">
                        <label class="required">Last name</label>
                        <input type="text" name="last_name">
                    </div>
                </div>
                <div class="row flex-row">
                    <div class="col-sm-6">
                        <label class="required">Email address</label>
                        <input type="email" name="email">
                    </div>
                    <div class="col-sm-6">
                        <label>Phone number</label>
                        <input type="text" name="phone_number">
                    </div>
                </div>
                <div class="row flex-row">
                    <div class="col-sm-12">
                        <label>Address</label>
                        <input type="text" name="address">
                    </div>
                </div>
                <div class="row flex-row">
                    <div class="col-sm-8">
                        <label>City</label>
                        <input type="text" name="city">
                    </div>
                    <div class="col-sm-4">
                        <label class="required">Zip code</label>
                        <input type="text" name="zip_code">
                    </div>
                </div>
                <div class="row flex-row">
                    <div class="col-sm-6">
                        <label class="required">How would you like to help out?</label>
                        <div class="input-wrapper">
                            <input type="checkbox" name="checkbox-1" id="checkbox-1">
                            <label for="checkbox-1" value="Knock doors">Knock doors</label>
                        </div>
                        <div class="input-wrapper">
                            <input type="checkbox" name="checkbox-2" id="checkbox-2" checked>
                            <label for="checkbox-2"  value="Write letters to the editor">Write letters to the editor</label>
                        </div>
                        <div class="input-wrapper">
                            <input type="checkbox" name="checkbox-3" id="checkbox-3">
                            <label for="checkbox-3" value="work at HQ">Work at HQ</label>
                        </div>
                        <div class="input-wrapper">
                            <input type="checkbox" name="checkbox-4" id="checkbox-4">
                            <label for="checkbox-4" value="make phone calls">Make phone calls</label>
                        </div>
                        <div class="input-wrapper">
                            <input type="checkbox" name="checkbox-5" id="checkbox-5">
                            <label for="checkbox-5" value="host a fundraiser">Host a Fundraiser</label>
                        </div>
                        <div class="input-wrapper">
                            <input type="checkbox" name="checkbox-6" id="checkbox-6">
                            <label for="checkbox-6" value="Other">Other</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Let us know any other comments you have!</label>
                        <textarea rows="9" name="comments"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-style-4 btn-big">Sign Up</button>
            </form>
            
            

              <!-- <div class="share-wrap style-2">
                    
                <span class="share-title">Share this:</span>
                <ul class="social-icons share">
              
                  <li><a href="#" class="sh-facebook"><i class="icon-facebook"></i>Facebook</a></li>
                  <li><a href="https://x.com/mkainerugaba?t=0YPAfQz_v5Y9Tia7-ji8-g&s=09" class="sh-twitter"><i class="icon-twitter"></i>Twitter</a></li>
                  <li><a href="#" class="sh-google"><i class="icon-gplus-3"></i>Google Plus</a></li>
                  <li><a href="#" class="sh-pinterest"><i class="icon-pinterest"></i>Pinterest</a></li>
                  <li><a href="#" class="sh-mail"><i class="icon-mail"></i>Email to a Friend</a></li>

                </ul>

              </div> -->

            </main>
            <aside id="sidebar" class="col-md-4 col-sm-12">
              {% include 'partials/_sidebar.html' %}
             </aside>
          </div>

        </div>

      </div>

{% endblock %}
