{% extends 'layout/app.html' %}
{% load i18n %}

{% load static %}

{% block content %}
 

{% for campaign in campaigns %}
  <div class="media-holder full-src" data-bg="{{ campaign.background_image.url }}">
    <div class="media-inner left-side">
        
      <h1>{{ campaign.title }} <br>
      <span>{{ campaign.subtitle }}</span></h1>

      <p>{{ campaign.description }}</p>

      <div class="join-us">
    
        <form id="newsletter2" class="join-form">
          <button type="submit" class="btn btn-style-4 btn-big f-right" data-type="submit">Sign Up</button>
          <div class="input-holder">
            <input type="email" name="newsletter-email" placeholder="Email address">
            <input type="text" placeholder="Zip code">
          </div>
        </form>

      </div>

    </div>

  </div>
{% endfor %}
  
  <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

  <div id="content">

    <!-- actions -->

    <div class="action-widget action-col-4 pull-top">
      
      <div class="container">
        
        <!-- action-item -->

        <div class="action-col">
          
          <a href="#" class="action-item register">
            <i class="icon icon-basic-todo-txt"></i>
            <h5 class="action-title">Register to vote</h5>
            <p>Submit your application</p>
          </a>
          
        </div>

        <!-- action-item -->

        <div class="action-col">
          
          <a href="#" class="action-item event">
            <i class="icon icon-basic-calendar"></i>
            <h5 class="action-title">Attend Events</h5>
            <p>Find events near you</p>
          </a>
          
        </div>

        <!-- action-item -->

        <div class="action-col">
          
          <a href="#" class="action-item get-involved">
            <i class="icon icon-ecommerce-megaphone"></i>
            <h5 class="action-title">Get Involved</h5>
            <p>Become a volunteer</p>
          </a>
          
        </div>

        <!-- action-item -->

        <div class="action-col">
          
          <a href="#" class="action-item donate">
            <i class="icon-ecommerce-banknotes"></i>
            <h5 class="action-title">Donate Today</h5>
            <p>Support our candidate</p>
          </a>
          
        </div>

      </div>

    </div>
    
    <div class="page-section">
      
      <div class="container">
        {% for prior in priorities %}
          
          <div class="title-holder align-center">

            <h2 class="section-title">{{ prior.title }}</h2>
            <p class="text-size-big">{{ prior.title_description }}</p>

          </div>
        {% endfor %}
        
        <div class="carousel-type-2">
          
            <div class="owl-carousel content-element2" data-max-items="4" data-item-margin="30">
              {% for priorityexample in priorityexamples  %}
              <!-- Carousel Item -->
              <div class="item-carousel">
                
                <div class="issue-item">
                  
                  <figure><a href="#"><img src="{{ priorityexample.priorities_image.url }}" alt=""></a></figure>

                  <h5><a href="#">{{ priorityexample.priorities_heading }}</a></h5>
                  <p>{{ priorityexample.priorities_description }}</p>
                  <a href="#" class="info-btn">Read More</a>

                </div>

              </div>
              {% endfor %}
            </div>
            
          <div class="align-center">
            <a href="{% url 'issues' %}" class="btn">See All Issues</a>
          </div>
        </div>
      </div>

    </div>

    <div class="page-section-bg">
      
      <div class="container">
        
        <h2 class="section-title align-center">News and Updates</h2>
        <div class="widget-holder">
          
          <div class="row flex-row">
            <div class="col-md-6">
              <article class="entry">
                  <!-- Attachment -->
                  <div class="entry-attachment">
                      <figure class="thumbnail-attachment">
                          <img src="{% if latest_news.image %}{{ latest_news.image.url }}{% else %}{% static 'images/555x361_img1.jpg' %}{% endif %}" alt="">
                      </figure>
                  </div>
          
                  <!-- Entry body -->
                  <div class="entry-body">
                      <h6>Latest News</h6>
                      <h4 class="entry-title"><a href="#">{{ latest_news.title }}</a></h4>
                      <!-- Entry Meta -->
                      <div class="entry-meta">
                          <time class="entry-date" datetime="{{ latest_news.date|date:'Y-m-d' }}">{{ latest_news.date|date:'F d, Y' }}</time>
                      </div>
          
                      <!-- More News Link -->
                      <a href="{% url 'news' %}" class="info-btn">More News</a>
                  </div>
              </article>
          </div>
          
            <div class="col-md-3">
              
              <div class="widget-twitter one-tweet">

                <header></header>
                
                <div id="twitter" class="twitter" data-twitter-items="1"></div>

                <a href="#" class="info-btn">Follow Adam on Twitter</a>
                
              </div>

            </div>
            <div class="col-md-3">
              
              <div class="widget-fb">

                <header></header>
                
                <p>Donec porta diam eu massa. Quisque diam lorem, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia.</p>

                <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                <div class="entry-meta">

                  <time class="entry-date" datetime="2018-03-25">March 25, 2018</time>

                </div>

                <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                <div class="slash-list">
                  <a href="#">See Post </a>
                  <a href="#">Share</a>
                </div>

                <a href="#" class="info-btn">Follow Adam on Facebook</a>
                
              </div>

            </div>  
          </div>
          <div class="row flex-row">
            <div class="col-md-4">
              
              <div class="widget-instagram">

                <header></header>
                
                <div class="carousel-type-2 type-2">
                  <div id="instafeed" class="instagram-carousel"></div>
                </div>

                <a href="#" class="info-btn">Follow Adam on Instagram</a>

              </div>

            </div>
            <div class="col-md-4">
              <div class="widget-events">
                  <h6 class="event-title">Upcoming events</h6>
                  {% for event in recent_events %}
                  <div class="event-item">
                      <div class="event-date">
                          <div class="event-month">{{ event.date|date:"M" }}</div>
                          <div class="event-day">{{ event.date|date:"d" }}</div>
                      </div>
                      <div class="event-info">
                          <h6 class="event-link"><a href="#">{{ event.title }}</a></h6>
                          <div class="event-info-item"><i class="icon icon-location"></i>{{ event.location }}</div>
                          <div class="event-info-item"><i class="icon icon-clock"></i>{{ event.start_time|time:"h:i A" }} – {{ event.end_time|time:"h:i A" }}</div>
                      </div>
                  </div>
                  {% endfor %}
                  <a href="{% url 'events' %}" class="info-btn">More Events</a>
              </div>
          </div>
          
            <div class="col-md-4">
              
              <div class="widget-youtube">
                
                <header></header>
                
                <div class="responsive-iframe">
                      
                  <iframe src="https://www.youtube.com/embed/n9BsWhjX1Fw?rel=0&showinfo=0&autohide=2&controls=0&playlist=J2Y_ld0KL-4&enablejsapi=1"></iframe>

                </div>

                <a href="#" class="info-btn">View All Videos</a>

              </div>

            </div>
          </div>

        </div>

      </div>

    </div>
    
    {% for meeting in meet %}
    <div class="page-section with-bg-img" data-bg="{{ meeting.meet_image.url }}">
      <div class="container">
        
        <div class="row">
          <div class="col-sm-5">
            
            <h2 class="section-title">{{ meeting.meet_name }}</h2>
            <p class="text-size-big">{{ meeting.meet_description }}</p>
            <a href="#" class="btn btn-style-3">Read More</a>

          </div>
        </div>

      </div>
    </div>
    {% endfor %}

    <div class="page-section">
      <div class="container">

        <h2 class="section-title align-center">Why We Support MK</h2>
        
        <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

        <div class="carousel-type-1">

          <div class="owl-carousel content-element2" data-max-items="1" data-autoplay="true">

            <!-- Slide --> 
            {% for testimonial in testimonials %}                 
              <div class="item-carousel">
                <!-- Carousel Item -->                  
                <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
                <div class="testimonial testimonial-single">

                  <div class="author-box">

                    <a href="#" class="avatar">
                      <img src="{{ testimonial.testimonial_image.url }}" alt="">
                    </a>

                  </div>
                  
                  <div class="testimonial-holder">

                    <blockquote>
                      <p>{{ testimonial.testimonial_description }}</p>
                    </blockquote>

                    <div class="author-info">

                      <h6 class="author-name">{{ testimonial.testimonial_name }}</h6>
                      <span class="author-position">{{ testimonial.testimonial_residence }}</span>

                    </div>

                  </div>

                </div>             
                <!-- /Carousel Item --> 
              </div>
            {% endfor %}
            <!-- /Slide -->

          </div>

          <div class="align-center">
            <a href="#" class="btn">Tell Us Why You Support Adam</a>
          </div>

        </div>

      </div>
    </div>

    <div class="page-section-bg">
      <div class="container">

        <h2 class="section-title align-center">Featured Products</h2>
        
        <!-- - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - -->

        <div class="carousel-type-2">

          <div class="owl-carousel content-element2" data-max-items="4" data-item-margin="30">
            
            <!-- Slide -->
            {% for product in products %}               
            <div class="item-carousel">
              <!-- Carousel Item -->                  
              <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
              <div class="product">
                      
                <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                <div class="product-image">
                  <a href="#"><img src="{{ product.product_image.url }}" alt=""></a>
                  <div class="overlay">
                    <div class="overlay-inner">
                      <a href="#" class="btn btn-style-6 btn-small">Add To Cart</a>
                    </div>
                  </div>
                </div>
                <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                <div class="product-description">

                  <h5 class="product-name"><a href="#">{{ product.product_name }}</a></h5>

                  <div class="product-price new-price">{{ product.product_price }}</div>

                </div>
                <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

              </div>
              <!-- /Carousel Item --> 
            </div>
            {% endfor %}
            <!-- /Slide -->
          </div>

          <div class="align-center">
            <a href="{% url 'productCategory' %}" class="btn">More Products</a>
          </div>

        </div>

      </div>
    </div>

  </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
  
{% endblock %}