{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <h1 class="page-title">Issues</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Issues</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->

      <div class="page-content-wrap">
        
        <div class="container">

          <h3>Main Issues</h3>
          
          <div class="content-element">
            
            <div class="issues-container">
              
              <div class="row flex-row">
                {% for priorityexample in priorityexamples  %}
                <div class="col-md-3 col-xs-6">                 
                  <div class="issue-item">
                    
                    <figure><a href="#"><img src="{{ priorityexample.priorities_image.url }}" alt=""></a></figure>
                    <h5><a href="#">{{ priorityexample.priorities_heading }}</a></h5>
                    <p>{{ priorityexample.priorities_description }}</p>
                    <a href="{% url 'issues_details' priorityexample.id %}" class="info-btn">Read More</a>

                  </div>
                </div>
                {% endfor %}
              </div>

            </div>

          </div>

          <div class="content-element7">
            
            <h3>Other Issues</h3>
              
            <div class="row">
              <div class="col-md-8 col-sm-12">
                
                <div class="accordion">

                  <!--accordion item-->
                  {% for otherpriority in otherpriorities %}           
                  <div class="accordion-item">
                    <h6 class="a-title active">{{ otherpriority.title }}</h6>
                    <div class="a-content">
                      <p>{{ otherpriority.description }}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>

              </div>
              <div class="col-md-4 col-sm-12">
                
                <div class="action-widget style-2 type-vr">
                  <!-- action-item -->

                  <a href="{% url 'join' %}" class="action-item get-involved">
                    <i class="icon icon-ecommerce-megaphone"></i>
                    <h5 class="action-title"><b>Get Involved</b></h5>
                    <p>Become a volunteer</p>
                  </a>

                </div>

              </div>
            </div>

          </div>

        </div>

      </div>
    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
    {% endblock %}