{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}

      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <h1 class="page-title">My Account</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>My Account</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->
      
      <div class="page-content-wrap">

        <div class="container">

          <div class="row">
            
            <aside id="sidebar" class="col-md-4 col-sm-12">
              
              <!-- widget -->
              <div class="widget widget-bg">
                
                <div class="join-us style-3">
                  <form class="join-form">
                    <button type="submit" class="btn btn-style-4 f-right btn-search"></button>
                    <div class="input-holder">
                      <input type="text" placeholder="Search">
                    </div>
                  </form>
                </div>

              </div>

              <!-- widget -->
              <div class="widget widget-bg">
                
                <h5 class="wt-title">Categories</h5>

                <ul class="custom-list type-1">

                  <li><h6><a href="#">Our Party</a></h6></li>
                  <li><h6><a href="#">Leadership & Staff</a></h6></li>
                  <li><h6><a href="#">Elected Officials</a></h6></li>
                  <li><h6><a href="#">State Central Committee</a></h6></li>
                  <li><h6><a href="#">County Parties</a></h6></li>
                  <li><h6><a href="#">Official Documents</a></h6></li>
                  <li><h6><a href="#">Candidates</a></h6></li>

                </ul>

              </div>

              <!-- widget -->
              <div class="widget widget-bg">
                
                <h5 class="wt-title">Related Products</h5>

                <div class="products-holder">
                  
                  <!-- product -->
                  <div class="product">
                            
                    <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                    <div class="product-image">
                      <a href="#"><img src="{% static 'images/100x100_img1.jpg' %}" alt=""></a>
                    </div>
                    <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                    <div class="product-description">

                      <h5 class="product-name"><a href="#">Men’s T-shirt White</a></h5>

                      <div class="product-price new-price">$25</div>
                      <ul class="rating">
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-empty-3"></i></li>
                      </ul>

                    </div>
                    <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                  </div>
                  <!-- product -->
                  <div class="product">
                            
                    <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                    <div class="product-image">
                      <a href="#"><img src="{% static 'images/100x100_img2.jpg' %}" alt=""></a>
                    </div>
                    <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                    <div class="product-description">

                      <h5 class="product-name"><a href="#">Cotton Tote Bag White</a></h5>

                      <div class="product-price new-price">$35</div>

                    </div>
                    <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                  </div>
                  <!-- product -->
                  <div class="product">
                            
                    <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                    <div class="product-image">
                      <a href="#"><img src="{% static 'images/100x100_img3.jpg' %}" alt=""></a>
                    </div>
                    <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                    <div class="product-description">

                      <h5 class="product-name"><a href="#">Morning Mug White</a></h5>

                      <div class="product-price new-price">$30</div>
                      <ul class="rating">
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-empty-3"></i></li>
                      </ul>

                    </div>
                    <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                  </div>

                </div>

              </div>
              
              <!-- widget -->
              <div class="widget widget-bg">
                
                <h5 class="wt-title">Tags</h5>

                <div class="tagcloud">

                  <a href="#">campaign</a>
                  <a href="#">election</a>
                  <a href="#">democrats</a>
                  <a href="#">events</a>
                  <a href="#">government</a>
                  <a href="#">liberty</a>
                  <a href="#">media</a>
                  <a href="#">press releases</a>
                  <a href="#">senate</a>

                </div>

              </div>

              <!-- widget -->
              <div class="widget widget-bg2">
                
                <h5 class="wt-title">Like Us On Facebook</h5>

                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
                </script>

                <div class="fb-page" data-href="https://www.facebook.com/facebook" data-height="155" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
                  <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/facebook">Facebook</a>
                  </blockquote>
                </div>


              </div>
            
            </aside>
            <main id="main" class="col-md-8 col-sm-12">
              
              <div class="content-element7">
                
                <h5>Order History</h5>
                <div class="table-type-1 recent-order responsive-table">
                  <table>
                    <thead>
                      <tr>
                        <th class="order-number">Order #</th>
                        <th class="order-date">Date</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th class="order-view"></th>
                      </tr>
                    </thead>
                    <tr>
                      <td data-title="Order #"><a href="#">123456</a></td>
                      <td data-title="Date">December 17, 2018</td>
                      <td data-title="Status">Pending</td>
                      <td data-title="Total">$135</td>
                      <td><a href="#" class="info-btn">View</a></td>
                    </tr>
                    <tr>
                      <td data-title="Order #"><a href="#">123457</a></td>
                      <td data-title="Date">December 20, 2018</td>
                      <td data-title="Status">Pending</td>
                      <td data-title="Total">$836</td>
                      <td><a href="#" class="info-btn">View</a></td>
                    </tr>
                    <tr>
                      <td data-title="Order #"><a href="#">123458</a></td>
                      <td data-title="Date">December 15, 2018</td>
                      <td data-title="Status">Pending</td>
                      <td data-title="Total">$23</td>
                      <td><a href="#" class="info-btn">View</a></td>
                    </tr>
                  </table>
                </div>

              </div>

              <div class="content-element7">
                
                <div class="content-element3">
                  
                  <h5>My Dashboard</h5>
                  <h6><b>Hello, John Doe (not John Doe? <a href="#" class="link-text2">Sign out</a>) </b></h6>
                  <p>From your account dashboard you can view your recent orders, manage your shipping and billing addresses and <a href="#" class="link-text2">edit your password and account details.</a> </p>

                </div>

                <div class="content-element3">
                  
                  <h6><b>My Addresses</b></h6>
                  <p>The following addresses will be used on the checkout page by default. </p>

                </div>

                <div class="content-element3">
                  
                  <div class="row">
                    <div class="col-sm-6">
                      
                      <h6><b>Billing Address</b></h6>
                      <ul class="custom-list type2">
                        <li>John Doe</li>
                        <li>Green street</li>
                        <li>12345 New York</li>
                        <li>USA</li>
                      </ul>
                      <a href="#" class="btn btn-small btn-style-2">Edit</a>

                    </div>
                    <div class="col-sm-6">
                      
                      <h6><b>Shipping Address</b></h6>
                      <ul class="custom-list type2">
                        <li>John Doe</li>
                        <li>Green street</li>
                        <li>12345 New York</li>
                        <li>USA</li>
                      </ul>
                      <a href="#" class="btn btn-small btn-style-2">Edit</a>

                    </div>
                  </div>

                </div>

              </div>

            </main>

          </div>
          
        </div>

      </div>

{% endblock %}