{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}
      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

  <div class="breadcrumbs-wrap with-bg type-2">

    <div class="container">
    
      <ul class="breadcrumbs">

        <li><a href="index.html">Home</a></li>
        <li>Blog</li>
        <li>Single blog post</li>

      </ul>

    </div>

  </div>

  <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->

  <div class="page-content-wrap">
    
    <div class="container">
      
      <div class="row">
        <main id="main" class="col-md-8 col-sm-12">
          
          {% for mission in missions %}
          <div class="event-item single-event">

            <h4 class="event-link"><a href="#">{{ mission.title }}</a></h4>
            <div class="entry-attachment">

              <img src="{{ mission.image.url }}" alt="">

            </div>
            <div class="event-info">
              <p>{{ mission.description1 }}</p>              
            </div>

            <div class="blockquote-holder with-bg style-2">
              <blockquote>
                <p>{{ mission.quote }}</p>
              </blockquote>
            </div>

            <div class="content-element2">
              
              <p>{{ mission.description2 }}</p>

            </div>

            <div class="content-element2">
              
              <div class="entry-attachment">

                <img src="{{ mission.image2.url }}" alt="">

              </div>

              <p>{{ mission.description3 }}</p>

            </div>

            <!-- <div class="content-element4">
              
              <div class="share-wrap">
                
                <span class="share-title">Share this:</span>
                <ul class="social-icons share">
              
                  <li><a href="#" class="sh-facebook"><i class="icon-facebook"></i>Facebook</a></li>
                  <li><a href="#" class="sh-twitter"><i class="icon-twitter"></i>Twitter</a></li>
                  <li><a href="#" class="sh-google"><i class="icon-gplus-3"></i>Google Plus</a></li>
                  <li><a href="#" class="sh-pinterest"><i class="icon-pinterest"></i>Pinterest</a></li>
                  <li><a href="#" class="sh-mail"><i class="icon-mail"></i>Email to a Friend</a></li>

                </ul>

              </div>

            </div> -->

          </div>
          {% endfor %}
        </main>
        <aside id="sidebar" class="col-md-4 col-sm-12">
          {% include 'partials/_sidebar.html' %}
        </aside>
      </div>

    </div>

  </div>

{% endblock %}