{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}
      
      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <h1 class="page-title">RECENT NEWS</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>News With Sidebar</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->

      <div class="page-content-wrap">
        
        <div class="container">
          
          <div class="row">
            <main id="main" class="col-md-8 col-sm-12">
              
              <div class="events-holder">
                {% for entry in news_entries %}
                <div class="event-item">
                  <div class="entry-attachment">
                    {% if entry.vimeo %}
                        <div class="responsive-iframe">
                          <iframe src="{{ entry.vimeo }}?title=0&byline=0&portrait=0&color=dedede" allowfullscreen=""></iframe>
                        </div>
                    {% elif entry.youtube_url %}
                        <div class="responsive-iframe">
                            <iframe src="{{ entry.youtube_url }}"></iframe>
                        </div>
                    {% elif entry.image %}
                        <img src="{{ entry.image.url }}" alt="{{ entry.title }}">
                    {% endif %}
                </div>
                
                  <div class="event-date">
                    <div class="event-month">{{ entry.date|date:"M" }}</div>
                    <div class="event-day">{{ entry.date|date:"d" }}</div>
                  </div>
                  <div class="event-info">
                    <h4 class="event-link"><a href="#">{{ entry.title }}</a></h4>
                    <p>{{ entry.content }}</p>
                    <a href="#" class="info-btn">Read More</a>
                  </div>
                </div>
                {% empty %}
                {% endfor %}
              </div>

              <ul class="pagination">
                <li><a href="#" class="prev-page"></a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#" class="next-page"></a></li>
              </ul>

            </main>
            <aside id="sidebar" class="col-md-4 col-sm-12">

              <!-- widget -->

              <div class="widget widget-bg">
                
                <div class="join-us style-3">
                  <form class="join-form">
                    <button type="submit" class="btn btn-style-4 f-right btn-search"></button>
                    <div class="input-holder">
                      <input type="text" placeholder="Search">
                    </div>
                  </form>
                </div>

              </div>

              <!-- widget -->
              
              <div class="widget widget-bg">
                
                <h5 class="wt-title">Categories</h5>

                <ul class="custom-list type-1">

                  <li><h6><a href="#">News</a></h6></li>
                  <li><h6><a href="#">Government</a></h6></li>
                  <li><h6><a href="#">Election</a></h6></li>
                  <li><h6><a href="#">Campaign</a></h6></li>
                  <li><h6><a href="#">Press</a></h6></li>

                </ul>

              </div>

              <!-- widget -->

              <div class="widget widget-holder">

                <div class="widget-youtube">

                  <h5 class="wt-title">Featured Video</h5>
                
                  <div class="responsive-iframe">
                        
                    <iframe src="https://www.youtube.com/embed/n9BsWhjX1Fw?rel=0&showinfo=0&autohide=2&controls=0&playlist=J2Y_ld0KL-4&enablejsapi=1"></iframe>

                  </div>

                  <a href="#" class="info-btn">View All Videos</a>

                </div>

              </div>

              <!-- widget -->

              <div class="widget widget-holder style-2">
                
                <div class="widget-twitter two-tweet">

                  <header><h5 class="wt-title">From Twitter</h5></header>
                  
                  <div id="twitter" class="twitter" data-twitter-items="2"></div>

                  <a href="#" class="info-btn">Follow Adam on Twitter</a>
                  
                </div>

              </div>

              <!-- widget -->

              <div class="widget widget-bg">
                
                <h5 class="wt-title">Popular News</h5>

                <div class="events-holder">
                
                  <div class="event-item">
                    <div class="event-date type-2">
                    </div>
                    <div class="event-info">
                      <h6 class="event-link"><a href="#"><b>Nam Elit Agna, Endrerit Sit Amet, Tincidunt Ac</b></a></h6>
                      <time class="entry-date" datetime="2018-03-25">March 25, 2018</time>
                    </div>
                  </div>
                  <div class="event-item">
                    <div class="event-date type-2">
                    </div>
                    <div class="event-info">
                      <h6 class="event-link"><a href="#"><b>Donec Porta Diam Eu Massa</b></a></h6>
                      <time class="entry-date" datetime="2018-03-25">March 25, 2018</time>
                    </div>
                  </div>
                  <div class="event-item">
                    <div class="event-date type-2">
                    </div>
                    <div class="event-info">
                      <h6 class="event-link"><a href="#"><b>Pellentesque Sed Dolor Aliquam Congue</b></a></h6>
                      <time class="entry-date" datetime="2018-03-25">March 25, 2018</time>
                    </div>
                  </div>

                </div>

                <a href="#" class="info-btn">More News</a>

              </div>

              <!-- widget -->

              <div class="widget">
                
                <div class="action-widget style-2 type-vr">

                  <!-- action-item -->

                  <div class="action-item donate">
                    <div class="action-inner">
                  
                      <h5 class="action-title"><b>Donate Now!</b></h5>
                      <div id="chose-donate" class="chose-donate">
                        <button class="chose-item">$5</button>
                        <button class="chose-item">$25</button>
                        <button class="chose-item">Other</button>
                        <a href="#" class="btn btn-style-4">Donate</a>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

              <!-- widget -->

              <div class="widget widget-calendar">

                <h5 class="wt-title">Events Calendar</h5>
                
                <div class="owl-carousel" data-max-items="1">
                  
                  <div class="item">
                    
                    <div class="calendar-wrap">
                      <table>
                        <tr>
                          <!--titles for td-->                  
                          <th colspan="7">October 2018</th>
                        </tr>
                        <tr class="days">
                          <td>M</td>
                          <td>T</td>
                          <td>W</td>
                          <td>T</td>
                          <td>F</td>
                          <td>S</td>
                          <td>S</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                          <td>4</td>
                          <td>5</td>
                          <td>6</td>
                          <td>7</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td class="link">
                            <a href="#">9</a>
                          </td>
                          <td>10</td>
                          <td class="link current">
                            <a href="#">11</a>
                          </td>
                          <td>12</td>
                          <td>13</td>
                          <td>14</td>
                        </tr>
                        <tr>
                          <td class="link">
                            <a href="#">15</a>
                          </td>
                          <td>16</td>
                          <td>17</td>
                          <td>18</td>
                          <td>19</td>
                          <td class="link">
                            <a href="#">20</a>
                          </td>
                          <td>21</td>
                        </tr>
                        <tr>
                          <td>22</td>
                          <td>23</td>
                          <td class="link">
                            <a href="#">24</a>
                          </td>
                          <td>25</td>
                          <td>26</td>
                          <td>27</td>
                          <td>28</td>
                        </tr>
                        <tr>
                          <td>29</td>
                          <td>30</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </table>
                    </div>

                    <a href="#" class="calendar-month">« Sep</a>

                  </div>

                  <div class="item">
                    
                    <div class="calendar-wrap">
                      <table>
                        <tr>
                          <!--titles for td-->                  
                          <th colspan="7">October 2018</th>
                        </tr>
                        <tr class="days">
                          <td>M</td>
                          <td>T</td>
                          <td>W</td>
                          <td>T</td>
                          <td>F</td>
                          <td>S</td>
                          <td>S</td>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                          <td>4</td>
                          <td>5</td>
                          <td>6</td>
                          <td>7</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td class="link">
                            <a href="#">9</a>
                          </td>
                          <td>10</td>
                          <td class="link current">
                            <a href="#">11</a>
                          </td>
                          <td>12</td>
                          <td>13</td>
                          <td>14</td>
                        </tr>
                        <tr>
                          <td class="link">
                            <a href="#">15</a>
                          </td>
                          <td>16</td>
                          <td>17</td>
                          <td>18</td>
                          <td>19</td>
                          <td class="link">
                            <a href="#">20</a>
                          </td>
                          <td>21</td>
                        </tr>
                        <tr>
                          <td>22</td>
                          <td>23</td>
                          <td class="link">
                            <a href="#">24</a>
                          </td>
                          <td>25</td>
                          <td>26</td>
                          <td>27</td>
                          <td>28</td>
                        </tr>
                        <tr>
                          <td>29</td>
                          <td>30</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </table>
                    </div>

                    <a href="#" class="calendar-month">« Sep</a>

                  </div>

                </div>

              </div>

              <!-- widget -->

              <div class="widget widget-bg">
                
                <h5 class="wt-title">Recent Comments</h5>

                <ul class="info-links comment-type">
                
                  <li><a href="#" class="author">Admin</a> on <a href="#">Mauris fermentum dictum</a></li>
                  <li><a href="#" class="author">Alan Smith</a> on <a href="#">Leo ut tellus dolor</a></li>
                  <li><a href="#" class="author">George</a> on <a href="#">Eget elementum vel cursus <br> eleifend elit</a></li>
                  <li><a href="#" class="author">Sandra</a> on <a href="#">Nemo ipsam voluptatem</a></li>
                  <li><a href="#" class="author">Admin</a> on <a href="#">Aenean auctor wisi et urna</a></li>

                </ul>

              </div>

              <!-- widget -->

              <div class="widget widget-bg2">
                
                <h5 class="wt-title">Join Our Team</h5>

                <div class="join-us style-4">

                  <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>

                  <form id="newsletter2" class="join-form">
                    <input type="email" name="newsletter-email" placeholder="Email address">
                    <input type="text" placeholder="Zip code">
                    <button type="submit" class="btn btn-style-6 btn-big" data-type="submit">Sign Up</button>
                  </form>

                </div>

              </div>

              <!-- widget -->

              <div class="widget widget-bg">
                
                <h5 class="wt-title">Tags</h5>

                <div class="tagcloud">

                  <a href="#">campaign</a>
                  <a href="#">election</a>
                  <a href="#">democrats</a>
                  <a href="#">events</a>
                  <a href="#">government</a>
                  <a href="#">liberty</a>
                  <a href="#">media</a>
                  <a href="#">press releases</a>
                  <a href="#">senate</a>

                </div>

              </div>

              <!-- widget -->

              <div class="widget widget-bg">
                
                <h5 class="wt-title">Archives</h5>

                <ul class="custom-list type-1">

                  <li><h6><a href="#">November 2018</a></h6></li>
                  <li><h6><a href="#">October 2018</a></h6></li>
                  <li><h6><a href="#">September 2018</a></h6></li>
                  <li><h6><a href="#">August 2018</a></h6></li>
                  <li><h6><a href="#">July 2018</a></h6></li>

                </ul>

              </div>

              <!-- widget -->

              <div class="widget widget-holder">
                
                <div class="widget-instagram">

                  <h5 class="wt-title">From Instagram</h5>
                  
                  <div id="instafeed" class="instagram-feed two-cols" data-instagram="4"></div>

                  <a href="#" class="info-btn">Follow Us on Instagram</a>

                </div>

              </div>

            </aside>
          </div>

        </div>

      </div>

{% endblock %}