{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}
      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Shop</li>
            <li>Product page</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->
      
      <div class="page-content-wrap">

        <div class="container">

          <div class="content-element7">
            
            <div class="product single">

              <div class="row">

                <div class="col-sm-6">

                  <div class="image-preview-container">

                    <!-- - - - - - - - - - - - - - Image Preview Container - - - - - - - - - - - - - - - - -->

                    <div class="image-preview">

                      <img href="{{ product_details.product_image.url }}" id="zoom-image" data-zoom-image="{{ product_details.product_image.url }}" src="{{ product_details.product_image.url }}" alt="" data-fancybox="group">

                    </div><!--/ .image-preview-->

                    <!-- - - - - - - - - - - - - - End of Image Preview Container - - - - - - - - - - - - - - - - -->

                  </div><!--/ .image-preview-container -->

                </div>

                <div class="col-sm-6">

                  <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->

                  <div class="product-description">

                    <h3 class="product-name">{{ product_details.product_name }}</h3>

                    <div class="pricing-area">

                      <div class="product-price">
                        ugx {{ product_details.product_price }}
                      </div>
                      <ul class="rating">
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-8"></i></li>
                        <li><i class="icon icon-star-empty-3"></i></li>
                      </ul>
                      &nbsp;
                      <span>(<a href="#">customer reviews</a>)</span>

                    </div>

                    <p class="product-excerpt">{{ product_details.customer_review }}</p>

                    <form class="add-to-cart-form">
                      <div class="custom-select">
                        <label><b>Size:</b></label>
                        <div class="select-title">Small</div>
                        <ul id="menu-type3" class="select-list"></ul>
                        <select class="hide">
                          <option value="menu">Medium</option>
                          <option value="menu">Large</option>
                          <option value="menu">Extra</option>
                        </select>
                      </div>
                      <div class="product-actions">
                        <label><b>Quantity:</b></label>
                        <div>
                          <div class="quantity">
                            <button type="button" class="qty-minus"><i class="icon icon-up-dir"></i></button>
                            <input id="selected-quantity" type="text" value="1" readonly="">
                            <button type="button" class="qty-plus"><i class="icon icon-down-dir"></i></button>
                          </div>
                          <a id="add-to-cart-button" class="btn btn-style-6 btn-big">Proceed To Checkout</a>
                        </div>
                      </div>
                    </form>

                    <ul class="product-meta">

                      <li><b>Category:</b> <a>{{ product_details.product_category }}</a></li>
                      <li><b>Made In Uganda</li>

                    </ul>

                    <div class="share">

                      <span class="title">Share this:</span>

                      <ul class="social-icons share type3">
                
                        <li><a href="#" class="sh-facebook"><i class="icon-facebook"></i></a></li>
                        <li><a href="#" class="sh-twitter"><i class="icon-twitter"></i></a></li>
                        <li><a href="#" class="sh-google"><i class="icon-gplus"></i></a></li>
                        <li><a href="#" class="sh-pinterest"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#" class="sh-mail"><i class="icon-mail"></i></a></li>

                      </ul>

                    </div><!--/ .share -->

                  </div>

                  <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                </div>

              </div><!--/ .row -->

            </div><!--/ .product-single -->

          </div>

          <div class="content-element7">
            
            <div class="row">
              
              <main id="main" class="col-md-8 col-sm-12">
                
                <div class="tabs tabs-section style-2 clearfix">
                  <!--tabs navigation-->                  
                  <ul class="tabs-nav clearfix">
                    <li>
                      <a href="#tab-1">Description</a>
                    </li>
                    <li>
                      <a href="#tab-2">Rules</a>
                    </li>
                  </ul>
                  <!--tabs content-->                 
                  <div class="tabs-content">
                    <div id="tab-1">

                      <p>
                        Donations or Every Commodity You Purchase on this website, the icome generated goes to a joint fundraising committee on behalf of Presidential Candidate MK and Uganda's Future. Joint fundraising proceeds shall be allocated among the committees as follows: 90% to Presidential Candidate MK (2026 presidential election), 10% to Uganda's Future. Any contribution exceeding the legal amount that may be contributed to either of the Committees will be allocated to Presidential Candidate MK (2026 general election).
                        Notwithstanding this allocation method set forth above, any contributor may designate their contribution for a particular participant. In addition, the allocation formula may change if a contributor makes a contribution exceeding the maximum legal amount for a particular participant.
                      </p>
                      <p>
                        Contributions to Mk through purchasing products or donations are not tax-deductible as charitable contributions for Ugandan tax purposes. Contributions by corporations, labor unions, foreign nationals, and government contractors are prohibited. 
                      </p>

                    </div>
                    <div id="tab-2">

                      <div class="content-element">
                      
                        <h5 class="section-title">Contribution Rules</h5>

                        <ol class="comments-list">
          
                          <li>
                          <p>1. I am a Ugamdan citizen or lawfully admitted permanent resident.</p>
                          <p>2. This contribution is made from my own funds, and funds are not being provided to me by another person or entity for the purpose of making this contribution.</p>
                          <p>3. I am making this contribution with my own personal credit card and not with a corporate or business credit card or a card issued to another person.</p>
                          <p>4. I am at least eighteen years old. I am not, nor am I making this contribution on behalf of, a corporation, labor organization, national bank, foreign national, or any other unreliable source.</p>
                          </li>
                      
                        </ol>

                      </div>
                    </div>
                  </div>
                </div>

              </main>

            </div>

          </div>
          
        </div>

      </div>
      <script>
        document.getElementById('add-to-cart-button').addEventListener('click', function() {
          var selectedQuantity = document.getElementById('selected-quantity').value;
          var selectedSize = document.querySelector('.select-title').textContent;
          var productId = "{{ product_details.id }}";
          var url = "{% url 'checkout' %}?product_id=" + productId + "&quantity=" + selectedQuantity + "&size=" + selectedSize;
          window.location.href = url;
        });
    </script>
    

{% endblock %}