{% extends 'layout/events_app.html' %}
{% load i18n %}

{% load static %}

{% block content %}

      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap with-bg">

        <div class="container">
          
          <h1 class="page-title">Cart</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Shop</li>
            <li>Cart</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->
      
      <div class="page-content-wrap">

        <div class="container">
          
          <div class="content-element">
            
            <div class="shop-cart-form table-type-1 responsive-table">
              <table>
                <thead>
                  <tr>
                    <th class="close-product" colspan="2">Product</th>
                    <th class="price-col">Price</th>
                    <th class="qty-col">Quantity</th>
                    <th class="total-col">Total</th>
                  </tr>
                </thead>
                <tr>
                  <td class="close-product shopping-cart-full" colspan="2" data-title="Product">
                    <div class="product">

                      <button class="item-close"></button>

                      <a href="#" class="product-image">
                        
                        <img src="{% static 'images/80x80_product1.jpg' %}" alt="">

                      </a>

                      <div class="product-description">

                        <h6 class="product-name"><a href="#">Men’s T-shirt White</a></h6>
                        <span class="product-size">Size: L</span>

                      </div><!--/ .product-info -->

                    </div>
                  </td>
                  <td data-title="Price" class="price">$25</td>
                  <td data-title="Quantity">4</td>
                  <td data-title="Total" class="price">$100</td>
                </tr>
                <tr>
                  <td class="close-product shopping-cart-full" colspan="2" data-title="Product">
                    <div class="product">

                      <button class="item-close"></button>

                      <a href="#" class="product-image">
                        
                        <img src="{% static 'images/80x80_product2.jpg' %}" alt="">

                      </a>

                      <div class="product-description">

                        <h6 class="product-name"><a href="#">Cotton Tote Bag White</a></h6>

                      </div><!--/ .product-info -->

                    </div>
                  </td>
                  <td data-title="Price" class="price">$35</td>
                  <td data-title="Quantity">1</td>
                  <td data-title="Total" class="price">$35</td>
                </tr>
                <tr>
                  <td colspan="3">

                    <div class="join-us style-3">
                      <form class="join-form">
                        <button type="submit" class="btn btn-style-4 btn-big f-right">Apply Coupon</button>
                        <div class="input-holder">
                          <input type="text" placeholder="Enter coupon code">
                        </div>
                      </form>
                    </div>

                  </td>
                  <td colspan="2">
                    <div class="align-right">
                      <button class="btn btn-style-6 btn-big">Update Cart</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

          </div>

          <div class="content-element">
            
            <div class="row">
              <div class="col-md-6 col-sm-12">
                
                <h3>You May Be Interested In...</h3>
                <div class="products-holder style-2">
                  
                  <div class="col-xs-6">
                  
                    <div class="product">
                              
                        <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                        <div class="product-image">
                          <a href="#"><img src="{% static 'images/263x263_img7.jpg' %}" alt=""></a>
                          <div class="overlay">
                            <div class="overlay-inner">
                              <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                            </div>
                          </div>
                        </div>
                        <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                        <div class="product-description">

                          <h5 class="product-name"><a href="#">Men’s T-shirt Blue</a></h5>

                          <div class="product-price new-price">$25.00</div>

                        </div>
                        <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                      </div>

                  </div>

                  <div class="col-xs-6">
                  
                    <div class="product">
                              
                      <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                      <div class="product-image">
                        <a href="#"><img src="{% static 'images/263x263_img8.jpg' %}" alt=""></a>
                        <div class="overlay">
                          <div class="overlay-inner">
                            <a href="{% url 'productPage' %}" class="btn btn-style-6 btn-small">Add To Cart</a>
                          </div>
                        </div>
                      </div>
                      <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                      <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                      <div class="product-description">

                        <h5 class="product-name"><a href="#">Keychain White</a></h5>

                        <div class="wrapper">
                          <div class="product-price new-price f-left">$5.00</div>
                          <ul class="rating f-right">
                            <li><i class="icon icon-star-8"></i></li>
                            <li><i class="icon icon-star-8"></i></li>
                            <li><i class="icon icon-star-8"></i></li>
                            <li><i class="icon icon-star-8"></i></li>
                            <li><i class="icon icon-star-8"></i></li>
                          </ul>
                        </div>

                      </div>
                      <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                    </div>

                  </div>

                </div>

              </div>
              <div class="col-md-6 col-sm-12">
                
                <h3>Cart Totals</h3>
                <div class="table-type-2">
                  <table>
                    <tbody>
                      <tr>
                        <th>Subtotal</th>
                        <td class="price"><b>$135</b></td>
                      </tr>
                      <tr>
                        <th>Shipping</th>
                        <td>
                          <div class="input-wrapper">

                            <input type="radio" name="radio-1" checked="" id="radio-1">
                            <label for="radio-1">Free shipping</label>

                          </div>
                          <div class="input-wrapper">

                            <input type="radio" name="radio-1" id="radio-2">
                            <label for="radio-2">Flat shipping</label>

                          </div>
                          <a href="#" class="link-text2">Calculate Shipping</a>
                        </td>
                      </tr>
                      <tr class="total-cell2">
                        <th>Total</th>
                        <td class="price">$488</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <div class="align-center"><a href="{% url 'checkout' %}" class="btn btn-style-6 btn-big">Proceed to checkout</a></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

{% endblock %}