{% load static %}      
      
    <!-- search-form -->

    <div class="searchform-wrap">
      <div class="vc-child h-inherit relative">

        <form>
          <input type="text" name="search" placeholder="Start typing...">
        </form>

        <button class="close-search-form"></button>

      </div>
      
    </div>

    <!-- top-header -->

    <div class="top-header">

      <div class="container extra-size">
        
        <div class="row">
          <div class="col-md-4">

            <div class="join-us style-3">

              <div class="newslatter">
                <h6>Email Updates</h6>
                  
                <form id="subscribeForm" class="join-form" >
                  {% csrf_token %}
                  <button type="button" class="btn btn-style-4 f-right" onclick="subscribing()">Sign Up</button>
                  <div class="input-holder">
                    <input type="email" name="newsletter-email" id="subscribingEmail" placeholder="Email address">
                  </div>
                </form>
              </div>

            </div>

          </div>
          <script>
            function subscribing() {
              var email = $('#subscribingEmail').val();
          
              // Check if the email is empty
              if (!email) {
                alert('Please Fill in your email address.');
                return;
              }
          
              // Check if the email has a valid format
              var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
              if (!emailRegex.test(email)) {
                alert('Please enter a valid email address.');
                return;
              }
          
              // If checks pass, proceed with AJAX call
              $.ajax({
                type: 'POST',
                url: '{% url "subscribe" %}',
                data: {
                  'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                  'newsletter-email': email,
                },
                success: function(response) {
                  if (response.success) {
                    alert(response.message);
                  } else {
                    alert('Error: ' + response.message);
                  }
                },
                error: function(xhr, status, error) {
                  alert('An error occurred: ' + xhr.responseText);
                }
              });
            }
          </script>
          <div class="col-md-4 col-xs-6">
            <div class="logo-wrap">

              <img src="{% static 'images/logo-new.png' %}" alt="" style="max-width: 370px; height: auto;">

            </div>

          </div>
          <!-- <div class="col-md-4 col-xs-6">
            
            <div class="page-options">

              <div class="lang-section">
                <a href="#">EN</a>
                <a href="#">Español</a>
              </div>
              
              <div class="search-holder">
                <button class="search-button"></button>
              </div>
              
            </div>

            <ul class="social-icons">

              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-instagram-5"></i></a></li>
              <li><a href="#"><i class="icon-youtube-play"></i></a></li>

            </ul>

          </div> -->
        </div>

      </div>

    </div>

    <!--main menu-->

    <div class="menu-holder">
      
      <div class="container extra-size">
        
        <div class="menu-wrap">

          <div class="nav-item">
            
            <!-- - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - - - -->

            <nav id="main-navigation" class="main-navigation">
              <ul id="menu" class="clearfix">
                  <li {% if request.resolver_match.url_name == 'index' %}class="current"{% endif %}><a href="{% url 'index' %}">Home</a></li>
                  <li {% if request.resolver_match.url_name == 'events' %}class="current"{% endif %}><a href="{% url 'events' %}">Events</a></li>
                  <li {% if request.resolver_match.url_name == 'issues' %}class="current"{% endif %}><a href="{% url 'issues' %}">Issues</a></li>
                  <li {% if request.resolver_match.url_name == 'news' %}class="current"{% endif %}><a href="{% url 'news' %}">News</a></li>
                  <li {% if request.resolver_match.url_name == 'mission' %}class="current"{% endif %}><a href="{% url 'mission' %}">Mission</a></li>
                  <li {% if request.resolver_match.url_name == 'join' %}class="current"{% endif %}><a href="{% url 'join' %}">Join</a></li>
                  <li {% if request.resolver_match.url_name == 'productCategory' %}class="current"{% endif %}><a href="{% url 'productCategory' %}">Shop</a></li>
              </ul>
          </nav>          

            <!-- - - - - - - - - - - - - end Navigation - - - - - - - - - - - - - - - -->

            <a href="https://flutterwave.com/donate/gvfkc19owrqk" class="btn btn-style-6 btn-big">Donate</a>

          </div>

        </div>

      </div>

    </div>    
