 {% load static %}
  <script src="{% static 'js/libs/jquery.modernizr.js' %}"></script>
  <script src="{% static 'js/libs/jquery-2.2.4.min.js' %}"></script>
  <script src="{% static 'js/libs/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/libs/retina.min.js' %}"></script>
  <script src="{% static 'plugins/instafeed.min.js' %}"></script>
  <script src="{% static 'plugins/twitter/jquery.tweet.js' %}"></script>
  <script src="{% static 'plugins/jquery.queryloader2.min.js' %}"></script>
  <script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'plugins/owl.carousel.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>