{% load static %}
              
              <div class="widget widget-bg">
                
                <h5 class="wt-title">Categories</h5>

                <ul class="custom-list type-1">

                  <li><h6><a href="#">News</a></h6></li>
                  <li><h6><a href="#">Government</a></h6></li>
                  <li><h6><a href="#">Election</a></h6></li>
                  <li><h6><a href="#">Campaign</a></h6></li>
                  <li><h6><a href="#">Press</a></h6></li>

                </ul>

              </div>
              <div class="widget">
                
                <div class="action-widget style-2 type-vr">

                  <!-- action-item -->

                  <div class="action-item donate">
                    <div class="action-inner">
                  
                      <h5 class="action-title"><b>Donate Now!</b></h5>
                      <div id="chose-donate" class="chose-donate">
                        <button class="chose-item">$5</button>
                        <button class="chose-item">$25</button>
                        <button class="chose-item">Other</button>
                        <a href="https://flutterwave.com/donate/gvfkc19owrqk" class="btn btn-style-4">Donate</a>
                      </div>

                    </div>
                  </div>

                </div>

              </div>
              <!-- widget -->

              <div class="widget widget-bg2">
                
                <h5 class="wt-title">Join Our Team</h5>

                <div class="join-us style-4">

                  <p>Be the first to know about our latest updates and innovations. </p>

                  <form id="newsletter2" class="join-form">
                    <input type="email" name="newsletter-email" placeholder="Email address">
                    <button type="submit" class="btn btn-style-6 btn-big" data-type="submit">Sign Up</button>
                  </form>

                </div>

              </div>

              <div class="widget widget-bg">
                
                <h5 class="wt-title">Archives</h5>

                <ul class="custom-list type-1">

                  <li><h6><a href="#">November 2018</a></h6></li>
                  <li><h6><a href="#">October 2018</a></h6></li>
                  <li><h6><a href="#">September 2018</a></h6></li>
                  <li><h6><a href="#">August 2018</a></h6></li>
                  <li><h6><a href="#">July 2018</a></h6></li>

                </ul>

              </div>

              <!-- widget -->