{% load static %}
              
<div class="widget widget-bg">
  
  <h5 class="wt-title">Categories</h5>

  <ul class="custom-list type-1">

    {% for category in categories %}
        <li><h6><a href="{% url 'news_by_category' category_name=category.name %}">{{ category.name }}</a></h6></li>
    {% endfor %}

  </ul>

</div>
<div class="widget">
  
  <div class="action-widget style-2 type-vr">

    <!-- action-item -->

    <div class="action-item donate">
      <div class="action-inner">
    
        <h5 class="action-title"><b>Donate Now!</b></h5>
        <div id="chose-donate" class="chose-donate">
          <button class="chose-item">$5</button>
          <button class="chose-item">$25</button>
          <button class="chose-item">Other</button>
          <a href="https://flutterwave.com/donate/gvfkc19owrqk" class="btn btn-style-4">Donate</a>
        </div>

      </div>
    </div>

  </div>

</div>
<!-- widget -->
<div class="widget widget-bg2">
    <h5 class="wt-title">Join Our Team</h5>
    <div class="join-us style-4">
        <p>Be the first to know about our latest updates and innovations.</p>
        <form class="join-form" id="subscribeForm">
            {% csrf_token %}
            <input type="email" name="newsletter-email" id="newsletterEmail" placeholder="Email address" required>
            <button type="button" class="btn btn-style-6 btn-big" onclick="subscribe()">Sign Up</button>
        </form>
    </div>
</div>

<script>
  function subscribe() {
    var email = $('#newsletterEmail').val();

    // Check if the email is empty
    if (!email) {
      alert('Please Fill in your email address.');
      return;
    }

    // Check if the email has a valid format
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(email)) {
      alert('Please enter a valid email address.');
      return;
    }

    // If checks pass, proceed with AJAX call
    $.ajax({
      type: 'POST',
      url: '{% url "subscribe" %}',
      data: {
        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
        'newsletter-email': email,
      },
      success: function(response) {
        if (response.success) {
          alert(response.message);
        } else {
          alert('Error: ' + response.message);
        }
      },
      error: function(xhr, status, error) {
        alert('An error occurred: ' + xhr.responseText);
      }
    });
  }
</script>
  

<div class="widget widget-bg">
  
  <h5 class="wt-title">Archives</h5>

  <ul class="custom-list type-1">
    <ul class="custom-list type-1">
      {% for archive in archives %}
          <li><h6><a href="{% url 'news_by_year' year=archive.year %}">{{ archive.year }}</a></h6></li>
      {% endfor %}
    </ul>
  </ul>

</div>